<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="app.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /><link rel="shortcut icon" href="#">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Home</title>
</head>

<body>
    <%- include('./header.ejs')%>
        <section id="page1" class="text-black">
            <div id="page1_parent" style="padding: 7% 0% 9% 17%">
                <div class="fs-1 fw-medium" style="
            font-family: Verdana;
            color: 263640;
            text-shadow: 2px 2px #9e9d9d;
          ">
                    Diversified Services. Unvarying Quality.
                </div>
                <div class="py-5 w-75 lh-lg">
                    We designed 100+ commercial & residential projects in UAS & across the
                    globe. Providing Design & 3D Support to Architectural Firms Globally.
                    Award-Winning Company.
                    <span class="fw-semibold" style="color: 263640"> 17+ Years</span> Of
                    Experience.
                </div>
                <div class="">
                    <button class="px-4 py-3 text-white border border-0 rounded-2" style="background-color: #263640">
                        See Our Work
                    </button>
                    <img src="explore_icon.png" style="width: 35%" class="ps-3" alt="" />
                </div>
            </div>
        </section>
        <section class="row m-5">
            <div class="col-md-6 col-12 d-flex justify-content-center align-items-center">
                <div class="">
                    <h1 class="fw-semibold text-center text-md-start">
                        Over a Decade of <br />
                        Achievements
                    </h1>
                    <div class="text-center text-md-start">
                        With our super powers we have reached this.
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="row">
                    <div class="col-sm-6 col-12 mt-sm-4 mt-5 d-sm-block d-flex justify-content-center">
                        <div class="d-flex align-items-center">
                            <img src="client_icon.png" style="width: 66px" alt="" />
                            <div class="fw-bold fs-5 ms-2">
                                10,000+ <br />
                                <span class="fs-6 fw-medium">Satisfied Clients</span>
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-sm-6 col-12 mt-sm-4 mt-5 d-md-block d-flex justify-content-sm-end justify-content-center">
                        <div class="d-flex align-items-center">
                            <img src="worker_icon.png" style="width: 66px" alt="" />
                            <div class="fw-bold fs-5 ms-2">
                                2 Million <br />
                                <span class="fs-6 fw-medium">Skilled Workers</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 d-sm-block d-flex justify-content-center col-12 mt-sm-4 mt-5">
                        <div class="d-flex align-items-center">
                            <img src="projects_icon.png" style="width: 66px" alt="" />
                            <div class="fw-bold fs-5 ms-2">
                                500+ <br />
                                <span class="fs-6 fw-medium">Projects Completed</span>
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-sm-6 col-12 mt-sm-4 mt-5 d-md-block d-flex justify-content-sm-end justify-content-center">
                        <div class="d-flex align-items-center">
                            <img src="branches_icon.png" style="width: 66px" alt="" />
                            <div class="fw-bold fs-5 ms-2">
                                40+ <br />
                                <span class="fs-6 fw-medium">Delivered Places</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h4 class="fw-semibold text-center mb-3 " style="margin-top: 6%;">OUR TRUSTED CLIENTS</h4>
            <div class="d-flex justify-content-start overflow-x-scroll mx-5">
                <div class="my-4 mx-5">
                    <img src="sample_client.png" alt="" />
                </div>
                <div class="my-4 mx-5">
                    <img src="sample_client.png" alt="" />
                </div>
                <div class="my-4 mx-5">
                    <img src="sample_client.png" alt="" />
                </div>
                <div class="my-4 mx-5">
                    <img src="sample_client.png" alt="" />
                </div>
                <div class="my-4 mx-5">
                    <img src="sample_client.png" alt="" />
                </div>
                <div class="my-4 mx-5">
                    <img src="sample_client.png" alt="" />
                </div>
                <div class="my-4 mx-5">
                    <img src="sample_client.png" alt="" />
                </div>
                <div class="my-4 mx-5">
                    <img src="sample_client.png" alt="" />
                </div>
                <div class="my-4 mx-5">
                    <img src="sample_client.png" alt="" />
                </div>
                <div class="my-4 mx-5">
                    <img src="sample_client.png" alt="" />
                </div>
            </div>
        </section>
        <section class="d-flex justify-content-between flex-column flex-md-row w-75 m-auto">
            <div class="card project-card border-0 mx-auto " style="margin-top: 6%;">
                <img src="sample_project1.png" class="card-img-top" style="width: 100%;" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-semibold">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card  project-card border-0 mx-auto" style="margin-top: 6%;;">
                <img src="sample_project1.png" class="card-img-top" style="width: 100%;" alt="...">
                <div class="card-body">
                    <h5 class="card-title  fw-semibold">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card  project-card border-0 mx-auto" style="margin-top: 6%;;">
                <img src="sample_project1.png" class="card-img-top" style="width: 100%;" alt="...">
                <div class="card-body">
                    <h5 class="card-title  fw-semibold">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </section>
        <section class="mt-5">
            <h4 class="text-center fw-semibold">Let us help you build.</h4>
            <h6 class="text-center w-75 m-auto">Over 17 years of experience in creating spaces that positively impact
                people’s lives</h6>
            <div class="m-auto w-75 mt-3"><img src="help_us_to_build.png" style="width:100%;" alt=""></div>
        </section>
        <section style="background-color: #E6F0F4;" class="mt-5 pb-1">
            <h4 class="text-center fw-semibold w-75 m-auto pt-4">Few Words From Our Clients</h4>
            <div class="w-50 m-auto p-4 my-4 lh-4" style="background-color: white;">
                <img src="opening_quote.png" width="30px" alt="">
                We had an incredible experience working with them and were impressed they made such a big difference in
                only three weeks. Our team is so grateful for the wonderful improvements they made and their ability to
                get familiar with the product concept so quickly. It acted as a catalyst to take our design to the next
                level and get more eyes on our product.<img src="closing_quote.png" width="30px" alt="">
            </div>
            <div class="w-75 d-flex justify-content-around m-auto row">
                <div class="col-md-1 col-sm-4 col-6 my-4 text-center"><img src="owner_photo.png" width="65px" alt="">
                </div>
                <div class="col-md-1 col-sm-4 col-6 my-4 text-center"><img src="owner_photo.png" width="65px" alt="">
                </div>
                <div class="col-md-1 col-sm-4 col-6 my-4 text-center"><img src="owner_photo.png" width="65px" alt="">
                </div>
                <div class="col-md-1 col-sm-4 col-6 my-4 text-center"><img src="owner_photo.png" width="65px" alt="">
                </div>
                <div class="col-md-1 col-sm-4 col-6 my-4 text-center"><img src="owner_photo.png" width="65px" alt="">
                </div>
                <div class="col-md-1 col-sm-4 col-6 my-4 text-center"><img src="owner_photo.png" width="65px" alt="">
                </div>
            </div>
        </section>
        <section>
            <div style="background: linear-gradient( #B3BECD 0.22%, #C1CCDB 98.78%); "
                class="w-75 m-5 mx-auto row rounded-3">
                <div class="col-6 d-none d-lg-block"><img src="get_quote_img.png" style="width:750px;" class="m-3"
                        alt=""></div>
                <div class="col-lg-6 my-auto text-center">
                    <h2 class="fw-bold mt-md-0 mt-3">Get a Free Quote Now!</h2>
                    <div class="my-4">
                        <input type="text" class="border-0 p-2 rounded" placeholder="Your work email address" name=""
                            id="">
                        <button style="background: rgba(38, 54, 64, 1);font-size: 14px;"
                            class="border-0 rounded mt-4 mt-md-0 p-2 text-white">Join the Waitlist</button>
                    </div>
                </div>
            </div>
        </section>
        <%- include('./footer.ejs')%>
</body>
<script>
        const navItems=['about','home','contact','products','services','gallery']
        if (window.location.pathname == '/') {
        navItems.map(item=>{
            if(item=='home'){
                $(`.${item}`).removeClass('text-white').css('color', 'rgb(253, 209, 49)').addClass('font-2')
            }else{
                $(`.${item}`).removeClass('font-2').removeAttr('css')
            }
        })
    }
        // if(window.location.pathname=='/'){
        //     $('.about').removeClass('font-2').removeAttr('css')
        //     $('.gallery').removeClass('font-2').removeAttr('css')
        //     $('.contact').removeClass('font-2').removeAttr('css')
        //     $('.home').removeClass('text-white').css('color', 'rgb(253, 209, 49)').addClass('font-2')
        // }
</script>
</html>