<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="app.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="shortcut icon" href="#" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <title>Services</title>
</head>

<body>
  <%- include('./header.ejs')%>
    <section>
      <div style="
          background-image: url('service_bg.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          background-color: #0000004d;
          background-blend-mode: multiply;
        " class="p-5 position-relative">
        <div class="text-white p-5">
          <h1 class="fw-bold font-1">Our-Services</h1>
          <h5 class="font-4">Service without Compromise</h5>
        </div>
        <div
          class="contact-box w-25 d-none d-sm-block border-top border-danger border-4 shadow-lg p-md-4 p-sm-2 position-absolute bg-white">
          <div style="font-variant: small-caps">call us today</div>
          <h4 style="color: rgba(0, 33, 91, 1)" class="fw-bold font-3">
            +91 9789614623
          </h4>
        </div>
      </div>
    </section>
    <section id="left-align">
      <div class="row p-5 mt-5 align-items-center jusify-content-center">
        <div class="col-xl-4 col-lg-5 col-md-7 col-12">
          <div class="d-md-none d-block mb-4">
            <h6 style="color: rgba(0, 32, 108, 1)" class="fw-semibold text-md-start text-center">
              Our Services
            </h6>
            <h3 class="fw-bold text-md-start text-center">
              Artisanal Metal Casting
            </h3>
          </div>
          <div class="text-xl-end text-center">
            <img src="service_pic1.jpg" class="service_pic1 rounded-3" alt="" />
          </div>
        </div>
        <div class="col-lg-6 col-md-5 col-12 m-auto">
          <div class="service_pic1_content">
            <div class="d-md-block d-none">
              <h6 style="color: rgba(0, 32, 108, 1)" class="fw-semibold text-md-start text-center">
                Our Services
              </h6>
              <h3 class="fw-bold text-md-start text-center">
                Artisanal Metal Casting
              </h3>
            </div>
            <p>
              Our artisanal brass casting service combines age-old techniques
              with modern craftsmanship to create exquisite brass products.
              Using the lost-wax casting method and hand-finishing, we produce
              timeless pieces such as lamps, bells, and decorative items. Each
              product reflects precision, quality, and a touch of tradition,
              crafted to perfection by skilled artisans.
            </p>
            <p>
              We specialize in the lost-wax casting method, a timeless approach
              that allows us to achieve intricate designs and flawless finishes.
              Our skilled artisans ensure that each product is not just a
              functional item but a piece of art that embodies heritage and
              durability.
            </p>
            <p class="d-none d-lg-block">
              Perfect for those who value quality and craftsmanship, our brass
              creations bring warmth and character to any space. With a
              commitment to preserving traditional methods while embracing
              innovation, we deliver products that are as unique as they are
              enduring.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="right-align">
      <div class="row px-6 align-items-center jusify-content-center">
        <div class="col-lg-6 col-md-5 col-12 m-auto order-2 order-md-0">
          <div class="service_pic1_content ms-3">
            <div class="d-md-block d-none">
              <h6 style="color: rgba(0, 32, 108, 1)" class="fw-semibold text-md-start text-center">
                Our Services
              </h6>
              <h3 class="fw-bold text-md-start text-center">
                Heavy-Duty Bronze and Brass Bell Crafting
              </h3>
            </div>
            <p>
              Our Heavy-Duty Bronze Bell Crafting service specializes in the
              creation of massive, finely crafted brass bells weighing up to
              1000 kg. Using the finest artisanal casting techniques, we produce
              bells that are not only visually stunning but also resonate with
              rich, powerful sound. These monumental pieces are designed for
              institutions, temples, large events, and architectural projects,
              where both presence and performance are required.
            </p>
            <p>
              Each bell is meticulously hand-cast using traditional lost-wax
              casting methods, ensuring exceptional detail and durability. The
              result is a perfect blend of craftsmanship, sound quality, and
              aesthetic appeal, capable of withstanding the test of time and
              providing a majestic auditory experience.
            </p>
            <p class="d-none d-lg-block">
              Whether for ceremonial purposes or as a statement piece in grand
              spaces, our heavy-duty brass bells are crafted with precision and
              a deep respect for tradition.
            </p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-5 col-md-7 col-12">
          <div class="d-block d-md-none mb-4">
            <h6 style="color: rgba(0, 32, 108, 1)" class="fw-semibold text-md-start text-center">
              Our Services
            </h6>
            <h3 class="fw-bold text-md-start text-center">
              Heavy-Duty Bronze and Brass Bell Crafting
            </h3>
          </div>
          <div class="text-center">
            <img src="service_pic2.jpg" class="service_pic2 rounded-3" alt="" />
          </div>
        </div>
      </div>
    </section>
    <section id="left-align">
      <div class="row p-5 align-items-center jusify-content-center">
        <div class="col-xl-4 col-lg-5 col-md-7 col-12">
          <div class="d-md-none d-block mb-4">
            <h6 style="color: rgba(0, 32, 108, 1)" class="fw-semibold text-md-start text-center">
              Our Services
            </h6>
            <h3 class="fw-bold text-md-start text-center">
              Brass Masterpieces: Sculpting Perfection in Brass
            </h3>
          </div>
          <div class="text-xl-end text-center">
            <img src="service_pic3.jpg" class="service_pic1 rounded-3" alt="" />
          </div>
        </div>
        <div class="col-lg-6 col-md-5 col-12 m-auto">
          <div class="service_pic1_content">
            <div class="d-md-block d-none">
              <h6 style="color: rgba(0, 32, 108, 1)" class="fw-semibold text-md-start text-center">
                Our Services
              </h6>
              <h3 class="fw-bold text-md-start text-center">
                Brass Masterpieces: Sculpting Perfection in Brass
              </h3>
            </div>
            <p>
              We are specialized in creating exquisite, finely detailed brass
              statues with perfect finishes. Using the finest artisanal casting
              techniques, we produce statues that not only capture the essence
              of the subject but also display a remarkable level of
              craftsmanship. These masterpieces are designed for museums,
              institutions, public spaces, and private collections where both
              artistic presence and quality are paramount.
            </p>
            <p>
              Each statue is meticulously hand-cast using traditional casting
              methods, ensuring exceptional detail, from the smallest features
              to the most intricate textures. The result is a flawless blend of
              artistry, durability, and visual appeal, making each statue a
              timeless work of art.
            </p>
            <p class="d-none d-lg-block">
              Whether commemorating a historical figure, marking a special
              event, or as a stunning centerpiece in your space, our brass
              statues are crafted with precision and a deep respect for the
              artistry of sculpture.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="right-align">
      <div class="row px-6 align-items-center jusify-content-center">
        <div class="col-lg-6 col-md-5 col-12 m-auto order-2 order-md-0">
          <div class="service_pic1_content ms-3">
            <div class="d-md-block d-none">
              <h6 style="color: rgba(0, 32, 108, 1)" class="fw-semibold text-md-start text-center">
                Our Services
              </h6>
              <h3 class="fw-bold text-md-start text-center">
                Precision Brass Welding Service
              </h3>
            </div>
            <p>
              We are also specializes in delivering high-quality welding for
              brass components, combining advanced techniques with skilled
              craftsmanship. Whether repairing intricate designs, joining
              structural components, or fabricating custom brass pieces, our
              welding services are tailored to ensure durability, strength, and
              flawless finishes.
            </p>
            <p>
              Using state-of-the-art equipment and industry-leading practices,
              we handle projects of all sizes with precision and care. Each weld
              is meticulously executed to maintain the structural integrity and
              aesthetic appeal of the brass, making our service ideal for
              applications in manufacturing, restoration, and artistic projects.
            </p>
            <p class="d-none d-lg-block">
              From delicate repairs to heavy-duty applications, our brass
              welding service guarantees seamless results that meet your
              specific needs. Trust us to preserve the beauty and functionality
              of your brass components with unmatched expertise.
            </p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-5 col-md-7 col-12">
          <div class="d-block d-md-none mb-4">
            <h6 style="color: rgba(0, 32, 108, 1)" class="fw-semibold text-md-start text-center">
              Our Services
            </h6>
            <h3 class="fw-bold text-md-start text-center">
              Precision Brass Welding Service
            </h3>
          </div>
          <div class="text-center">
            <img src="service_pic4.jpg" class="service_pic2 rounded-3" alt="" />
          </div>
        </div>
      </div>
    </section>
    <section id="left-align">
      <div class="row p-5 align-items-center jusify-content-center">
        <div class="col-xl-4 col-lg-5 col-md-7 col-12">
          <div class="d-md-none d-block mb-4">
            <h6 style="color: rgba(0, 32, 108, 1)" class="fw-semibold text-md-start text-center">
              Our Services
            </h6>
            <h3 class="fw-bold text-md-start text-center">
              Brass & Copper Restoration Excellence
            </h3>
          </div>
          <div class="text-xl-end text-center">
            <img src="service_pic5.jpg" class="service_pic1 rounded-3" alt="" />
          </div>
        </div>
        <div class="col-lg-6 col-md-5 col-12 m-auto">
          <div class="service_pic1_content">
            <div class="d-md-block d-none">
              <h6 style="color: rgba(0, 32, 108, 1)" class="fw-semibold text-md-start text-center">
                Our Services
              </h6>
              <h3 class="fw-bold text-md-start text-center">
                Brass & Copper Restoration Excellence
              </h3>
            </div>
            <p>
              Our Brass & Copper Restoration Excellence service breathes new life into your cherished brass and copper
              items, preserving their historical charm while restoring their original luster and functionality. Whether
              it’s antique decor, heirloom artifacts, or architectural elements, our expert craftsmen meticulously
              restore each piece with care and precision.
            </p>
            <p>
              Using specialized techniques, we clean, repair, and polish items to remove tarnish, corrosion, and signs
              of aging while maintaining the integrity of the original design. For damaged or missing components, our
              team skillfully recreates details to ensure a seamless restoration.
            </p>
            <p class="d-none d-lg-block">
              This service is ideal for antique collectors, museums, and anyone looking to preserve the beauty and value
              of their brass and copper products. Let us help you protect your treasures and keep them shining for
              generations to come.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="right-align">
      <div class="row px-6 align-items-center jusify-content-center">
        <div class="col-lg-6 col-md-5 col-12 m-auto order-2 order-md-0">
          <div class="service_pic1_content ms-3">
            <div class="d-md-block d-none">
              <h6 style="color: rgba(0, 32, 108, 1)" class="fw-semibold text-md-start text-center">
                Our Services
              </h6>
              <h3 class="fw-bold text-md-start text-center">
                Precision Delivery Service
              </h3>
            </div>
            <p>
              We ensures that your products are delivered safely and promptly to the exact
              location you specify. Whether it’s a large, intricate brass bell, a delicate antique restoration, or any
              of our artisanal creations, we prioritize accuracy and care in every delivery.
            </p>
            <p>
              With our commitment to efficiency and reliability, we handle each shipment with the utmost
              professionalism. From careful packaging to secure transportation, we ensure your items arrive in pristine
              condition. Our delivery service is tailored to meet your specific needs, accommodating even the most
              challenging locations.
            </p>
            <p class="d-none d-lg-block">
              Trust us to provide seamless and stress-free delivery, so you can focus on enjoying your products exactly
              where you need them.
            </p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-5 col-md-7 col-12">
          <div class="d-block d-md-none mb-4">
            <h6 style="color: rgba(0, 32, 108, 1)" class="fw-semibold text-md-start text-center">
              Our Services
            </h6>
            <h3 class="fw-bold text-md-start text-center">
              Precision Delivery Service
            </h3>
          </div>
          <div class="text-center">
            <img src="service_pic6.jpg" class="service_pic2 rounded-3" alt="" />
          </div>
        </div>
      </div>
    </section>
    <%- include('./footer.ejs')%>
</body>
<script>
  const navItems = [
    "about",
    "home",
    "contact",
    "products",
    "services",
    "gallery",
  ];
  if (window.location.pathname == "/services") {
    navItems.map((item) => {
      if (item == "services") {
        $(`.${item}`)
          .removeClass("text-white")
          .css("color", "rgb(253, 209, 49)")
          .addClass("font-2");
      } else {
        $(`.${item}`).removeClass("font-2").removeAttr("css");
      }
    });
  }
</script>

</html>